a{
    text-decoration: none;
}
.title_text{
    color: white;
    text-decoration: none;    
    
}

h1
{
    font-family: oswald,monospace;
    font-size: 50px;
    text-align: center;
}
h2{
    text-align: center;
}
.phase-text{
    color: red;
    font-family: oswald;
    font-size: 40px;
}
.larger-image
{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.thick-silver-border
{
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
}
.silver-background
{
    border-radius: 10px;
    background-color: #F1EDEB;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 20px 10px rgba(0,0,0,0.19); 

}
#about_me{
    font-family: monospace;
    font-size: 15px;
}
.text-font{
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 25px;
}
.text-center{
    text-align: center;
    font-family: sans-serif;
}
#top{
    background-color: #FB0202;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: -35px;
    box-shadow: 0px 20px 10px rgba(0,0,0,0.19); 

}
.blk_hover:hover{
    color:black;
}
